* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --button: #006aff;
}

.page {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #eaeaea;
}

.card {
    background-color: white;
    width: 400px;
    border-radius: 20px;
    padding-bottom: 20px;
    border-top-left-radius: 20px;
    border: 2px solid rgb(0, 0, 0, 0.3);
    border-top-right-radius: 20px;
    padding: 5px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

.top {
    /* background: var(--button); */
    background-image: url("https://t4.ftcdn.net/jpg/08/86/49/53/360_F_886495385_XudXZcfZb7FqTwSWpDjwOEWfsol6Sw6e.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 9rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

img {
    width: 10rem;
    display: flex;
    border: 6px solid white;
    margin-top: -50px;
    border-radius: 50%;
    margin: -50px auto 0 auto;
    height: auto;
    max-width: 100%;
}

h1 {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

}

p {
    text-align: center;
}

.icons {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 15px;
    font-size: 25px;
}

.fa {
  color: white;
  padding: 20px;
  border-radius: 50%;
}


#instagram {
    background-color: #d907e8;
}

.fa-telegram {
    background-color: #1284e2;
}

#youtube {
    background-color: #bb0000;
}

button, .active:hover {
    background: var(--button);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 30px;
    font-size: 15px;
    margin-top: 20px;
    border: 1px solid;
    margin-left: 5px;
    width: 150px;
    cursor: pointer;
    margin-bottom: 20px;
}

.active {
    border-color: var(--button);
    background: transparent;
    color: var(--button);
}

button:hover, .fa:hover{
    transform: translateY(2px);
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}
