body {
    box-sizing: border-box;
    width: auto;
    height: auto;
    background-color: black;
    margin: 0;
    color: white;
     font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

:root {
    --color: rgb(255, 0, 0);
}

.bars {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.bars1,.bars2,.bars3 {
    height: 20rem;
    margin-left: 1rem;
    width: 7rem;
    position: relative;
    z-index: 0;
    background-color: var(--color);
    animation: slide-up 3s infinite alternate-reverse;
}

.bars2 {
    animation-delay: 0.3s;
}

.bars3 {
    animation-delay: 0.6s;
}

.bars h4 {
    font-size: 5rem;
    color: var(--color);
    bottom: -1rem;
    position: absolute;
    z-index: 1;
}

@keyframes slide-up {
    to {
        transform: translateY(-50%);
    }
}

hr {
    height: 3rem;
    background-color: white;
}

/*Loadin text animation*/

.loading-text {
    color: WHITE;
    text-align: center;
    font-size: 5rem;
    padding: 10rem;
}

.loading-text::before {
    content: "Loading..";
     background: linear-gradient(
        to right,
        red 0%,
        black 40%
    );
    padding: 1rem;
    background-size: 200% 200%;
    background-repeat: no-repeat;
    animation: slide-in 1s linear infinite;
}

@keyframes slide-in {
   0% {
        opacity: 1;  
        background-position: 0% 0;
    }
    100% {
        opacity: 0;
        background-position: -100% 0;
    }
}

/* Charging animation*/

.battery-anime {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.battery-anime  .outer {
    border-radius: 20px;
    border: 3px solid white;
    width: 60%;
    height: 30%;
    display: flex;
    gap: 20px;
    padding: 1rem;
    position: relative;
    &::after {
        display: block;
        width: 20px;
        height: 5rem;
        content: "";
        background-color: white;
        position: absolute;
        right: -19px; 
        top: 33%;
    }
}

.battery-anime .outer .inner {
    height: 100%;
    width: 5rem;
    opacity: 0;
    animation: charging 6s infinite ease-in-out;
}

.battery-anime .outer .inner:nth-child(1) { animation-delay: 0s;   background-color: red; }
.battery-anime .outer .inner:nth-child(2) { animation-delay: 0.5s; background-color: orange; }
.battery-anime .outer .inner:nth-child(3) { animation-delay: 1s;   background-color: yellow; }
.battery-anime .outer .inner:nth-child(4) { animation-delay: 1.5s; background-color: lime; }
.battery-anime .outer .inner:nth-child(5) { animation-delay: 2s;   background-color: green; }

@keyframes charging {
    0%, 20% {
        opacity: 0;  
    }
    40%, 80% {
        opacity: 1; 
    }
    100% {
        opacity: 0;
    }
}

@keyframes charging-in {
        0%, 20% {
        opacity: 1;  
    }
    40%, 80% {
        opacity: 0; 
    }
    100% {
        opacity: 1;
    }
}

.battery-anime h4 {
    position: absolute;
    font-size: 2rem;
    text-transform: uppercase;
    background-color: var(--color);
    opacity: 0.5;
    z-index: -1;
    backdrop-filter: blur(5px);
    padding: 1rem;
     animation: charging-in 6s infinite ease-in-out;
}

